body {
  margin: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
}

.opacity {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 30%;
}

header {
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  grid-column: 1 / 3;
}

#addTodo {
  background-color: #004fce;;
  border-radius: 8px;
  border-style: none;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

#addTodo:hover,
#addTodo:focus {
  background-color: #001942;
}

[class^="todo-"] {
  display: grid;
  grid-auto-columns: 9fr 1fr;
  grid-gap: 10px;
  grid-template-columns: auto;
  color: #4a4a4a;
  padding: 10px 16px;
  margin: 10px;

  border-radius: 17px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

.content {
  display: none;
  grid-column: 1 / 4;

  font-size: 10pt;
  overflow: hidden;
}

.title {
  cursor: pointer;

  grid-column: 2 / 3;
  grid-row: 1;

  font-size: 18px;
  display: flex;
  align-items: center;
}

.title.done {
  text-decoration: line-through;
  color: #b1b1b1;
}

.details {
  grid-column: 1 / 2;

  font-size: 14px;
  color: #757575;
}

.date {
  grid-column: 2 / 3;

  color: #757575;
}

.project {
  grid-column: 3 / 4;
}

button#edit {
  grid-column: 3 / 4;

  border: none;
  border-radius: 0.25rem;
  background: #8BC34A;
  color: white;
  padding: 5px;
  width: fit-content;
}

input[type="checkbox"] {
  grid-column: 1 / 2;
  grid-row: 1;
  width: fit-content;
}

form {
  display: none;
  justify-content: center;

  background-color: white;
  border-radius: 15px;
  padding: 30px 80px;

  position: absolute;
  width: 25vw;
  left: 50vw;
  margin-left: -12.5vw;
  top: 20vh;
}

#editForm {
  display: none;
  justify-content: center;

  background-color: white;
  border-radius: 15px;
  padding: 30px 80px;

  position: absolute;
  width: 25vw;
  left: 50vw;
  margin-left: -12.5vw;
  top: 20vh;
}

input {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 10ch;
  margin: .5rem;
  width: 260px;
}

input, select {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
}

select {
  margin: 0.5rem;
}

button#submit, button#submitEdit {
  border: none;
  border-radius: .25rem;
  padding: .75rem 1rem;
  background: #8BC34A;
  color: white;
  margin: 8px;
}

button#submit:hover {
  background: #486526;
}

input[type="date" i] {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #757575;
}

#closeBtn {
  position: absolute;
  top: 2%;
  right: 2%;
  background: #ffffff;
  color: black;
  border: none;
  font-size: 15px;
  font-weight: 100;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  transition: 0.6s transform ease-in-out;
  outline: none;
}

#closeBtn:hover {
  color: rgb(143, 143, 143)
}

.todos {
  grid-column: 2 / 3;
}

.projects {
  grid-column: 1 / 2;

  margin: 10px;
  padding: 15px;
  border-radius: 17px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

.projectTitle {
  font-size: 14px;
}
